.cart_func {
    display: inline-block;
    width: 210px;
    height: 210px;
    background-color: var(--tp-grey-1);
    background-image: radial-gradient(95.56% 95.56% at 50% 50%, #FFFFFF 0%, #BDDEFF 100%);
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.itemcart_text {
    position: absolute;
    top: 30px;

}


.main_cartdiv {
    position: relative;
}

.img_itemcard {
    border: 1px solid gray;


}

.data_title {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.data_product {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.data_text {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.data_item {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

/* -------------*******all Treading -------------- */

.hr {
    width: 400px;
    border: 3px solid gray;
}

.trending_cart {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 16px #0000003b;


}

.Trending_heading {
    font-size: 36px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.trending_text {
    font-size: 24px;
    font-weight: 500;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}



.text_btn {
    cursor: pointer;
}

.addCartprice {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 16px #0000003b;
    width: 300px;
    height: 100px;


}

/* -------------*******all Product -------------- */
.product_heading {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: blue;
}

.card_style:hover img {
    transform: scaleY(0.5);
}

.card_style1:hover img {
    transform: scaleY(0.5);
}

.btn_addItem {
    width: 100px;
    height: 30px;
    border: transparent;
    background-color: green;
    color: white;
    border-radius: 10px;
}

.card_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;

}

.card_style {
    background-color: #414141;
    width: 18rem;
    height: 26rem;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.card_style1 {
    background-color: #414141;
    width: 18rem;
    height: 27.5rem;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.card-text {
    color: #ffb145;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.search_input {
    width: 250px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;

}

.seacrh_btn {
    width: 100px;
    height: 30px;
    border: none;
    background-color: green;
    color: white;
}

/* -------------*******all Product -------------- */


/* .container {
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.card {
    position: relative;
    margin: 20px 0;
    width: 300px;
    height: 400px;
    background: #414141;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    border: transparent;
    box-shadow: inset 100px 0 50px rgba(0, 0, 0, 0.5);
}

.card:hover {
    z-index: 1111;
    transform: perspective(2000px) rotate(0deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.card .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.card .img-container img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card:hover .img-container {
    transform: rotateY(-180deg);
}

.card .card-details {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 20px;
    color: #000;
}

.card .card-details h2 {
    margin: 0;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-size: 2em;
    color: #ed363a;
}

.card .card-details p {
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-size: 1.1em;
}



@media screen and (max-width:545px) {

    .card_style {
        background-color: #414141;
        width: 9rem;
        height: 26rem;
    }

    .img_responsive {
        width: 270px;
        height: 200px;
        margin: 10px;
    }

    .box_responsive {
        margin: 10px;
    }

    .hr {
        width: 300px;
    }

    .responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;

    }

    .pricecart_responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (min-width:546px) and (max-width:769px) {
    .img_responsive {
        width: 600px;
        height: 200px;
        margin: 10px;
    }

    .pricecart_responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}